.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-header .header-titles .page-title {
  margin-bottom: 4px;
}

.notes-header .header-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}
